<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.webix.com/edge/webix.css" type="text/css"> 
    <script src="https://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <script type="text/javascript" charset="utf-8">
        
        var tampilan = webix.ui({
            id : "myApp", 
            rows : [
                {
                    id: "myform",
                    view:"form", 
                    elements:[
                        {view:"text",id:"id",label:"ID",name:"id"},
                        {view:"text",id:"name",label:"Nama",name:"name"},
                        {view:"text",id:"umur",label:"Umur",name:"umur"},
                        {view:"text",id:"alamat",label:"Alamat",name:"alamat"},
                        {view:"button",id:"btn",value:"Add",css:"webix_primary"}
                    ]
                },
                {
                    align: "center",
                    id: "mygrid",
                    view:"datatable", 
                    columns:[
                        { id:"id", header:"ID", width:50},
                        { id:"name", header:"Nama", width:200},
                        { id:"umur", header:"Umur", width:80},
                        { id:"alamat", header:"Alamat", width:100}
                    ],
                    data:[],
                    on:
                    {
                        "onDoubleClick": function(param){
                        console.log(param)
                        $$("myform").setValues($$("mygrid").getItem(param.row));
                        }
                }
            }
        ]
        });

        webix.ready(function(){
            $$("btn").attachEvent("onItemClick", function(){
                window.alert("Berhasil menamnbahkan data!")
                var formValues = $$("myform").getValues();  // Mendapatkan nilai form
                var jsonData = JSON.stringify(formValues);  // Mengonversi ke JSON
                webix.ajax().headers({"Content-Type":"application/json"}).post("/add-data", jsonData, function(text, data){
                // Fungsi callback yang dipanggil setelah permintaan berhasil dikirim
                if (data.json().success) {
                // Jika sukses, dapatkan data terbaru dari server dan perbarui tabel
                    webix.ajax().get("/get-data", function(text, data){
                        $$("mygrid").clearAll();
                        $$("mygrid").parse(data.json());
                    });
                    }
                });
            })
        })

    </script>
</body>
</html>