<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oden Webix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="static/webix/webix.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/webix/webix.css">
    <link rel="shortcut icon" href="https://hocdnoden0201.sat.co.id/images/iconalfamart.jpg">
    <link rel="stylesheet" type="text/css" media="screen" href="static/webix/skins/materialdesignicon.css" /> 
    <script src="[URL_CDN]/element.js"></script>
    <script src="[URL_CDN]/lov.js"></script>
    <script src="[URL_CDN]/restApi.js"></script>
    <script src="[URL_CDN]/form.js"></script>
    <script src="[URL_CDN]/layouts.js"></script>
    <script src="[URL_CDN]/datatable.js"></script>
    <script src="[URL_CDN]/multiview.js"></script>
    <script src="https://hocdnoden0201.sat.co.id/moment.min.js"></script>
    <link rel="stylesheet" href="https://hocdnoden0201.sat.co.id/css-dev/style.css" type="text/css">

</head>
<body>
    
    <script>
        if ( screen.width < 450 ) {
            var viewport = document.querySelector( "meta[name=viewport]" );
            viewport.parentNode.removeChild( viewport );

            var newViewport = document.createElement( "meta" );
            newViewport.setAttribute( "name", "viewport" );
            newViewport.setAttribute( "content", "width=500" );
            document.head.appendChild( newViewport );
        }

        function zoom() {
            document.body.style.zoom = "90%" 
        }
        function setWidthSizeByPercent(size){
            let widthWindow = document.body.offsetWidth;
            return (size / 100) * widthWindow
        }
        function setWidthSize(size, fullSize){
            return setWidthSizeByPercent((size / fullSize) * 100)
        }
        function setHeightSizeByPercent(size){
            let heightWindow = window.screen.height;
            return (size / 100) * heightWindow
        }
        function setHeightSize(size, fullSize){
            return setHeightSizeByPercent((size / fullSize) * 100)
        }
        function resizeSideBar(){
            widthWindow = document.body.offsetWidth;
            if (widthWindow < 1366){
                $$("$sidebar1").collapse();
            }
            else if (widthWindow >= 1366){
                $$("$sidebar1").expand()
            }
            if (widthWindow < 800){
                $$("textApp").hide();
            }
            else if (widthWindow >= 800){
                $$("textApp").show()
            }
        }
        function selectMenuId(){
            urlParam = new URLSearchParams(location.search)
            checkMenuNotDisp = urlParam.get("menuId").search("_ND")
            if(checkMenuNotDisp==-1){
                parentMenuId = $$("$sidebar1").getParentId(urlParam.get("menuId"))
                if(parentMenuId != 0){
                    parentMenuIdNd = $$("$sidebar1").getParentId(parentMenuId)
                    if(parentMenuIdNd != 0){
                        $$("$sidebar1").open(parentMenuIdNd)
                    }
                    $$("$sidebar1").open(parentMenuId)
                }
                $$("$sidebar1").select(urlParam.get("menuId"))
            }
        }

        webix.UIManager.addHotKey("Ctrl+M", function() {
        });

        if (!webix.env.touch && webix.env.scrollSize)
            webix.CustomScroll.init();

        [contentCustom]

        
        webix.ui(
            {
                id:"app",
                scroll:true,
                rows:[
                    {   
                        view: "toolbar", 
                        padding:3,
                        height:55,
                        css: "backgroudHeader",
                        elements: [
                        { view: "icon", type: "icon", icon: "mdi  mdi-menu",width: 37, align: "left", css: "toggle_webix", 
                                        click: function(){
                                            $$("$sidebar1").toggle();
                                        }
                                    },
                                    { view: "label", label: "<img src='https://hocdnoden0201.sat.co.id/images/logo alfamart.png' style='height:90%;padding:2px;'>", width: 120 },                            
                                    { id:"textApp", view: "label", label: "<div style='font-size: 1.2em;'>[applicationName]</div>"},
                                    {},
                                    {autowidth: true, view: "label", label: `[NIK_SSO]&nbsp;&nbsp;|&nbsp;&nbsp;[NAMA_SSO]       &nbsp;&nbsp;&nbsp;</span>`, align: "left",
                                    },
                                    
                                    {
                                        autowidth: true, view: "label", label: `<span class='webix_icon mdi mdi-logout'></span>`, css: "pointer_cursor", align: "left",
                                                on: {
                                                    onItemClick: function () {
                                                        webix.send("/",{'type':'LOGOUT'},'GET')
                                                    }
                                                }
                                    },
                                    {
                                        width:25
                                    },
                        ],   
                    },
                    {
                        cols:[{
                            rows:[
                                {
                                    id:"filterSidebar",
                                    view:"search",
                                    css:"search_bar_webix",
                                    placeholder:"    Search item on sidebar..."
                                },
                                {
                                    view: "sidebar",
                                    width:340,
                                    collapsedWidth:50,
                                    multipleOpen:true,
                                    scroll:"xy",
                                    data: [sidebarCustom],
                                    autoHeight:true,
                                    css:"webix_dark",
                                    on:{
                                        onItemClick:function(id){
                                            let menuSelected = this.getItem(id)
                                            if(!menuSelected.href) return;
                                            webix.send(menuSelected.href,{'type':'VIEW','menuId':menuSelected.id},'GET')
                                        },
                                    },
                                },
                                {height:30}
                            ]},
                            content  
                        ]
                    },
                ]
            }
        )

        resizeSideBar()
        webix.ready(function () {
            $$("filterSidebar").attachEvent("onTimedKeyPress",function(){
            $$("$sidebar1").filter("#value#",this.getValue());
                if(this.getValue() == ""){
                    $$("$sidebar1").closeAll();
                }
            })
            $$("$sidebar1").sort("#value#");

            var menu = $$("$sidebar1").getPopup().queryView({view:"menu"});
            menu.define({
                height:218, 
                scroll:true, 
                autoheight:false,
            });
            menu.resize()

            $$("$sidebar1").getPopup().attachEvent("onShow",function(){
                this.queryView({view:"menu"}).sort("#value#")
            })
            
            addEventEnterDatagrid()
            hideColumnsDatagrids()
            selectMenuId()
        })

        webix.event(window,"resize",function(){
            resizeSideBar()
        });

    </script>   

</body>

</html>